:root{
  background-color: rgb(195, 208, 226);
}

.container{
    background-color: rgb(9, 87, 212);
    width: 40%;
    margin: auto;
    margin-top: 150px;
  padding: 20px;
  border-radius: 15px;
  color: white;
  animation: forwards;
}
.form{
    height: 50%;
    width: 90%;
    display: flex;
}

.image{
    font-size: 700px;
}
button{
    margin-left: 5px;
    cursor: pointer;
    background-color: greenyellow;
    border-radius: 10px;
    border: none;
     height: 25px;
     width: 23%;
}
input{
  width: 70%px;
  height: 25px;
  border-radius: 30px;
  border: none;
  
  padding-left: 10px;
}
.error-message {
  color: #ff3700;
  
}
@media only screen and (min-width:380px) {
  .input{
    width: 40%;

    display: block;
    margin-bottom: 10px;
  }
  button{
    margin-top: 10px;
    width: 35%;
  }
}
